@model IEnumerable<BankTransations.Models.Product>


<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        <a onclick="showInPopup2('@Url.Action("AddOrEditProduct","Products",null, Context.Request.Scheme)','New Product')" class="btn btn-primary">
                            <i class="fas fa-random"></i>Add New
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Price)
                        </td>
                        <td>
                            <a onclick="addOrEditProduct(@item.ProductId)" class="btn btn-warning">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <form onsubmit="return jQueryDeleteProduct(this)" class="d-inline" asp-action="Delete" asp-route-id="@item.ProductId">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
